@media (max-width: 1329px) {
    .stage-card{
        width:60%;
        margin-left:5%;  
    }
}
@media (min-width: 1329px) and (max-width: 1776px) {
    .stage-card{
        width:46%;
        margin-left:3%;  
    }
}
@media (min-width: 1776px) {
    .stage-card{
        width: 333px;
        margin-left:30px;  
    }
    
}
.language-list li{
    float:left;
    padding:15px;
    margin-right: 10px;
    cursor: pointer;
}
.language-list .active{
    color:#56b949;
}
.language-poster-big img{
    width: 100%;
}


.stage-title{
    margin:30px 0 20px;
}
.stage-title img{
    height: 24px;
    margin-top:3px;
}
.stage-title p{
    display: inline-block;
    font-size: 22px;
    vertical-align: top;
}
.stage-title p span{
    font-size: 15px;
}

.stage-left{
    width: 330px;
    font-size: 0;
    -moz-box-shadow: 0 0 6px 3px #d1d1d1;
    box-shadow: 0 0 6px 3px #d1d1d1;
    float: left;
}
.stage-left >img{
    width:100%;
}

.stage-left-info-wrap{
    position: relative;
    margin-top:-15px;
}
.poster-bottom{
    width: 100%;
}
.poster-letter{
    position: absolute;
    left:0;
    top:30px;
    padding:0 7px 7px 10px;
    border-bottom: 1px solid #fff;
}
.poster-letter img{
    width: 40px;
}

.stage-left-info{
    position: absolute;
    top:13px;
    left:100px;
}
.stage-left-info h4{
    font-size: 16px;
    font-weight: 500;
}
.stage-left-info .teacher-wrap{
    margin: 3px 0 3px 10px;
}
.row1{
    margin-left:20px;
}
.row2{
    margin-left:30px;
}
.teacher-wrap{
    font-size: 13px;
    background:#56b949;
    color: #fff;
    padding:2px 20px;
    display: inline-block;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.info-row{
    font-size: 12px;
    
}
.info-row img{
    width:15px;
    margin-right: 5px;
}
.info-row span{
    vertical-align: top;
}


.stage-card-list{
    margin-left: 330px;
}
.stage-card{
    display: inline-block;
    padding:10px;
    margin-bottom: 20px;
}
.stage-card-left{
    display: inline-block;
    width: 49%;
}
.stage-card-left h5{
    font-size: 14px;
    font-weight: bold;
}
.stage-card>img{
    width:49%;
    vertical-align: top;
    margin-bottom: 10px;
}
.stage-card-left .info-row,.stage-card-left .teacher-wrap{
    margin:2px 0;
}

.course-content-wrap{
    min-height: 390px;
}


.video-btn{
    height: 30px;
    width: 30px; 
    line-height: 30px; 
    text-align: center; 
    background: #e5e5e5;
    margin-right:4px;
    margin-left:4px;
    box-shadow: -1px 1px 5px #b3b3b3;
    -moz-box-shadow:-1px 1px 5px #b3b3b3;
    cursor: pointer;
    transition: all .3s;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
}
.video-btn:hover{
    background: #56b949; 
}
.video-btn-wrap{
    text-align: center;
    font-size: 12px;
}
.video-btn-wrap .active{

    background: #56b949; 
}
.video-btn:active{
    box-shadow: 0px 0px 0px #b3b3b3;
    -moz-box-shadow: 0px 0px 0px #b3b3b3;
    transform: scale(0.99);
    background: #56b949; 
}

