*{
    box-sizing: content-box;
}
.login-container{
    background: #f8f8f8;
    height: 100vh;
    overflow: hidden;
}
.login-part{
    position: relative;
    min-width: 900px;
    min-height: 380px;
    margin:0 auto;
    width:65%;
    height: 100%;
    /*top:-32px;*/
}

.phone-box{
    margin-bottom: 20px;
}
.login-logo{
    position: absolute;
    top:45%;
    margin-top:calc(-100vh*3/10);
    height: calc(100vh*3/5);
    left:0;
}

.login-right{
    display: inline-block;
    width:400px;
    padding:25px 0;
    font-size: 15px;
    color: #888888;
    text-align: center;
    position: absolute;
    right: 0;
}
.user-phone-login{
    top:45%;
    margin-top:-190px;
}
.user-wechat-login{
    top:45%;
    margin-top:-283px;
}
.user-info{
    top:45%;
    margin-top:-200px;
}
.login-right h2{
    font-size: 23px;
    font-weight:500;
    /*margin-top:25px;*/
    color: #000;
}
.choose-login span{
    display: inline-block;
    padding:16px 20px;
    cursor: pointer;
}
.choose-login .active,.register-link,.login-link{
    color:#56b949;
    cursor: pointer;
    z-index: 1000;
}

.login-right input{
    padding:10px 20px;
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    width: 250px;
    display: block;
    margin:20px auto 0;
}
.login-btn{
    display: inline-block;
    background:#56b949;
    border-radius: 20px;
    color:#fff;
    text-align: center;
    width: 250px;
    padding:10px 20px;
    margin:10px auto 19px;
    cursor: pointer;
}

/*微信*/
.erweima-logo-wrap span{
    line-height: 16px;
    vertical-align: top;
}
.user-wechat-login{
    display: none;
}
/*.wechat-part{
    display:none;
    margin-bottom: 10px;
}*/
.user-login .erweima{
    width: 120px;
    height: 120x;
    margin-bottom: 10px;
}
.erweima-logo{
    width: 16px;
}


/*注册*/
.user-register .erweima{
    width: 152px;
    height: 152x;
    margin:30px 0 14px;
}
.to-register{
    margin-top:10px;
}

/*完善信息*/
.login-right h4,.login-right h3{
    font-size: 16px;
    font-weight:600;
    color: #000;
}
.login-right h3{
    font-size: 20px;
    margin-top:35px;
}
.info{
    margin:10px 0 20px;
}
.user-info .code{
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    width: 290px;
    display: block;
    margin:20px auto 0;
}
.user-info .code input{
    width: 140px;
    border:0;
    margin:0;
    display: inline-block;
}
.user-info .code span{
    display: inline-block;
    width: 74px;
    height: 100%;
    font-size: 13px;
    text-align: right;
    padding-right: 20px;
    cursor: pointer;
}